#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #ededed;
  background-color: #1e1e1e;
  margin-top: 60px;
}

html {
  color: #ededed;
  background-color: #1e1e1e;
}

img {
  height: 500px;
}